{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title%} Lab151 {% endblock title %}


{% block content %}


<style>
  .slider-item:last-child .banner-img { -o-object-position: center!important; object-position: center!important; }

</style>


  <!--
    - MAIN
  -->

  <main>

    <!--
      - BANNER
    -->

    <div class="banner">
      <div class="container">
        <div class="slider-container has-scrollbar">

      {% for banner in slider %}
          <div class="slider-item">
            <a href="{{ banner.link }}">
              <img src="{{ banner.slider.url }}" alt="women's latest fashion sale" class="banner-img">
            </a>
          </div> 
      {% endfor %}

        </div>
      </div>
    </div>





    <!--
      - CATEGORY
    -->


    <div class="product-container">
      <div class="container">
        <div class="product-box"> 
          <div class="product-minimal">
          </div>
          <div class='d-flex justify-content-end'>
            <div class="dropdown">
              <button class="btn dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% trans 'Sırala' %}
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'filter' %}?filter=new">{% trans 'Yenilər əvvəlcə' %}</a></li>
                <li><a class="dropdown-item" href="{% url 'filter' %}?filter=cheap">{% trans 'Əvvəlcə ucuz' %}</a></li>
                <li><a class="dropdown-item" href="{% url 'filter' %}?filter=expensive">{% trans 'Əvvəlcə baha' %}</a></li>
              </ul>
            </div>
          </div>
          <div class="product-main">
            <h2 class="title">{% trans 'Məhsullar' %}</h2>
            {% for i in banner %}
            <div class="long_banner1">
              <img src="{{ i.banner_small1.url }}" alt="" style="width:200px;">
              <img src="{{ i.banner_small2.url }}" alt="" style="width:200px;">
            </div>
            {% endfor %}
            {% for j in banner %}
            <div class="long_banner2">
              <img src="{{ j.banner_small3.url }}" alt="" style="width: 200px;">
              <img src="{{ j.banner_small4.url }}" alt="" style="width: 200px;">
            </div>
            {% endfor %}
            <div class="product-grid" id="product-list">
              {% for product in products %}
              <div class="showcase">
                <div class="showcase-banner">
                 <a href="{{ product.get_absolute_url }}">
                  <img src="{{ product.get_visual_product.cover_image.url }}" alt="{{product.title}}" width="300" class="product-img default">
                  {% if product.get_visual_product.cover_image_2 %}
                  <img src="{{ product.get_visual_product.cover_image_2.url }}" alt="{{product.title}}" width="300" class="product-img hover">
                  {% else %}
                  <img src="{{ product.get_visual_product.cover_image.url }}" alt="{{product.title}}" width="300" class="product-img hover">
                  {% endif %}
                 </a>
                 {% if product.is_new == True %}
                  <p class="showcase-badge angle pink">{% trans 'Yeni' %}</p>
                 {% endif %}

                 {% if product.is_sale == True %}
                  <p class="showcase-badge angle black">{% trans 'Endirimdə' %}</p>
                 {% endif %}
                  <!-- <p class="showcase-badge">15%</p> -->
                  
                </div>
                <div class="showcase-content">
                  <a href="#" class="showcase-category">{{ product.category.first }}</a>
                  <a href="{{ product.get_absolute_url }}">
                    <h3 class="showcase-title">{{ product.title }}</h3>
                  </a>
                  <!-- <div class="showcase-rating">
                    {% for i in product.get_star_ratings %}
                    <ion-icon name="star"></ion-icon>
                    {% endfor %}
                    {% for i in product.get_nonstar_ratings %}
                    <ion-icon name="star-outline"></ion-icon>
                    {% endfor %}
                  </div> -->
                  <div class="price-box">
                    {% if product.get_visual_product.is_sale %}
                    <p class="price">₼{{ product.get_visual_product.get_price }}</p>
                    <del>₼ {{ product.get_visual_product.price }}</del>
                    {% else %}
                    <p class="price">₼{{ product.get_visual_product.price }}</p>
                    {% endif %}
                  </div>
                </div>

              </div>
              {% endfor %}
            </div>
            

          </div>
        </div>
      </div>
    </div>
    <!--
      - TESTIMONIALS, CTA & SERVICE
    -->


  </main>



  <!--
    - FOOTER
  -->

  {% endblock content %}
